<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/chat/styles.css">
</head>
<body>
  <!--
  <div class="chatbox">
    <div class="chatMessages">
      <div class="userMessage">
        <p><span class="userName">Examplar</span>: Hello World!</p>
      </div>
      <div class="userMessage">
        <p><span class="userName">Plaholder</span>: Lorem ipsum dolor sit amet. Dolorem aeterna</p>
      </div>
      <div class="userMessage">
        <p><span class="userName">Examplar</span>: Hello World!</p>
      </div>
      <div class="userMessage">
        <p><span class="userName">Examplar</span>: Hello World!</p>
      </div>
      <div class="userMessage">
        <p><span class="userName">Examplar</span>: Hello World!</p>
      </div>
      <div class="userMessage">
        <p><span class="userName">Examplar</span>: Hello World!</p>
      </div>
      <div class="userMessage">
        <p><span class="userName">Examplar</span>: Hello World!</p>
      </div>
      <div class="userMessage">
        <p><span class="userName">Examplar</span>: Hello World!</p>
      </div>
      <div class="userMessage">
        <p><span class="userName">Examplar</span>: Hello World!</p>
      </div>
      <div class="userMessage">
        <p><span class="userName">Examplar</span>: Hello World!</p>
      </div>
      <div class="userMessage">
        <p><span class="userName">Examplar</span>: Hello World!</p>
      </div>
    </div>
    <div class="chatActions">
      <input class="chatInput" type="text">
      <button class="chatSend" onclick="sendMessage();">✉</button>
    </div>
  </div>
-->

  <div id="ae"></div>

  <button onclick="sanitize()">click to test sanitizer</button>
  <p id="out"></p>
  <script src="/static/websocket/main.js"></script>
  <script src="/static/chat/main.js"></script>
</body>
</html>